@font-face{
	font-family:'CaviarDreams';
	src:url(../_fonts/CaviarDreams.ttf);
}
body{background-color: #4d4d4d;background-image:url("../_imagens/fundo.png")}
#page-container { width: 960px; margin: auto; background: white; box-shadow: 5px 5px 5px #ffd687;}


#logo { background: #dfdfdf; height: 150px; }
img#imagem-logo{width:15%;position:auto;left:50%;top:10px;}	

/*-------------------------------menu---------------------------------*/

#menu_principal {background: #f48f3c; height: 48px;margin:0;color:white;}
#menu_principal ul li {float: left;}
#menu_principal ul li a{display:block;text-align:center;padding: 14px 16px;text-decoration: none;color:white;border-right:#e9722b 1px solid;}
#menu_principal ul li a:hover:not(.active) {color:black;}
#menu_principal ul li a.active{color: white;background-color: #ffd687}
#menu_principal ul{list-style-type: none;margin:0;padding: 0;overflow: hidden;font-size:12pt;}
#menu_principal li ul{display:none;z-index: 1;}
#menu_principal ul li a:hover{background:#066;color:#fff;}
#menu_principal li:hover ul{display:block;position:relative;}
#menu_principal li:hover li{float:none;font-size:12px;}
#menu_principal li:hover a{background:#333;color:#fff;}
#menu_principal li:hover li a:hover{background:#ffd687;}

/*-------------------------------banner---------------------------------*/

#banner { background: white; height: 400px; }
.banner{
	width:960px;
	height:400px;
	margin:auto;
	background-image:url(_imagens/banner1.jpg);
	background-size:100% 100%;
	animation: banner 10s infinite;
	animation-direction:alternate;
}

@keyframes banner{
	0%, 30%{
		background-image: url(../_imagens/banner1.jpg);
		opacity:1;
	}
	31%, 34% {
		opacity:0.1;
	}
	35%,65%{
		background-image:url(../_imagens/banner2.jpg);
		opacity:1;
	}
	66%, 69%{
		opacity:0.1;
	}	
	70%, 100%{
		background-image: url(../_imagens/banner3.jpg);
		opacity:1;
	} 	
}

/*-------------------------------artigos do index---------------------------------*/

#meio {font-family:'CaviarDreams';}

#esquerda {float:left;background-color:#dfdfdf; width:25%;height:600px;}

#artigo-principal {font-family:'CaviarDreams';float:left; background-color:#dfdfdf; width:50%;height:600px; }
#artigo-principal header{text-align:center;}
#artigo-principal article{text-align:justify;padding:0px 10px 0px 10px;font-size:18pt;}

#direita {float:right;background-color:#dfdfdf;width:25%; height:600px;}
#direita figure{text-align:center;}
p#p1{text-align:center;}
p#p2{text-align:justify;padding:0px 10px 0px 10px;}

#footer {  clear:both; background: #f48f3c; height: 40px;text-align:center; font-size:10pt;}

/*----------------------------------sobre----------------------------------------*/

#dog{width:100px; height:120px;z-index:10px;}

#contato img{width:900px;margin-left:30px;}
#contato{background-color:white;font-family:'CaviarDreams';}
.legenda{color:red; font-size:18px;}

#botao{font-family:'CaviarDreams';color:white; font-size:18px;background-color:black;position:relative;left:430px;}
#smensagem{position:absolute; top:1270px;}
textarea{margin-left:120px;}

#selecoes img{width:90px;}

#dog{width:100px; height:120px;z-index:10px;}

#cachorro{width:100px; height:120px;z-index:10px; margin-left:556px;}

#s1{border:#FF8247 solid 3px; width:400px;}

#s2{border:#FF8247 solid 3px; width:400px; margin-left:556px;}

#s3{border:#FF8247 solid 3px; width:400px;}

#s4{border:#FF8247 solid 3px; width:400px; margin-left:556px;}

#imgpata{margin-left:80px;font-family:'CaviarDreams';}

/*----------------------------------cadastro----------------------------------------*/

/*----------------------------------login----------------------------------------*/

#login {width:100%; height:500px;font-size:18px;}
#login fieldset{width:40%;height:250px;position:absolute;left:29%;top:50%;color:BLACK;box-shadow: 7px 7px 5px white; border:3px solid white;font-size:20px;}
.texto{background-color:transparent;width:300px;height:28px;text-align:center;font-size:20px;border:2px solid white;outline-color:orange;}
#login input:hover{color:black;}
#login img {width:100%;height:100%;opacity:0.5;}
.botaolog{height:40px;background-color:white;border:0 none;}
.botaolog:hover{background-color:darkgrey;border:1px solid orange;}

/*----------------------------------desenvolvimento---------------------------------*/
ul.tab {list-style-type: none;margin: 0;padding: 0;overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1;}
ul.tab li {float: left;}
ul.tab li a {display: inline-block;color: black;text-align: center;padding: 14px 16px;text-decoration: none;transition: 0.3s;font-size: 17px;}
ul.tab li a:hover {background-color: #ddd;}
ul.tab li a:focus, .active {background-color: #ccc;}
.tabcontent {display: none;padding: 6px 12px;border-top: none;}
#lista-desenvolvimento{width:100%;height:500px;font-family:'CaviarDreams';}
#titulo{font-size:24px;}